/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* 
    HEADER
*/
header {
    width: 100%;
    background-color: lightcoral;
    color: aquamarine;
    height: 60px;
}

/* 
    MAIN
*/
main {
    height: calc(100vh - 60px);
    background-color: lightgreen;
    position: relative;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px dashed yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}